{% extends "base.html" %}

{% block content %}
<h4>Mis calendarios</h4>

<div class="accordion" id="accordionExample">

    {% for calendario in calendarios %}
    {% set calendario_loop = loop %}
    <div class="card">
        <div class="card-header" id="heading{{calendario_loop.index}}">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{calendario_loop.index}}" aria-expanded="false" aria-controls="collapse{{calendario_loop.index}}">
                    <span style="color:{{calendario['color']}};">&#9632;</span> {{calendario["summary"]}}
                </button>
            </h5>
        </div>
        <div id="collapse{{calendario_loop.index}}" class="collapse" aria-labelledby="heading{{calendario_loop.index}}" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm">

                        {% for evento in calendario["events"] %}
                        {% set event_loop = loop %}
                        <!--eventos-->
                        <p>
                            <a class="btn btn-light" data-toggle="collapse" href="#collapseExample-{{calendario_loop.index}}-{{event_loop.index}}" role="button" aria-expanded="false" aria-controls="collapseExample-{{calendario_loop.index}}-{{event_loop.index}}">
                                <span class="badge badge-pill badge-info">{{evento["start"]}}</span> {{evento["summary"]}}{% if evento["description"] != "" %} &#x25BC;{% endif %}
                            </a>
                        </p>

                        {% if evento["description"] != "" %}
                        <div class="collapse" id="collapseExample-{{calendario_loop.index}}-{{event_loop.index}}">
                            <div class="card card-body border">
                                {{evento["description"]}}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}



                    </div>
                    <div class="col-sm">
                        <div id="map{{calendario_loop.index}}" class="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!--cierre del acordeon-->
</div>
{% endblock %}

{% block mi_javascript %}
<script type="text/javascript">
    function myMap() {

        {% for calendario in calendarios %}
        {% set calendario_loop = loop %}

            var eventInfo = [
                {% for evento in calendario["events"] %}
                    {% if evento["location"]["lat"] != "" %}
                        { lat: {{ evento["location"]["lat"] }},
                        lng: {{ evento["location"]["lng"] }},
                        addr: '{{ evento["location"]["address"] }}',
                        summary: '{{ evento["summary"] }}',
                        description: '{{ evento["description"] }}',
                        htmlLink: '{{ evento["htmlLink"] }}'},
                    {% endif %}
                {% endfor %}
            ];

            var mapOptions = {
                center: new google.maps.LatLng(43.2626276, -2.9475673),
            zoom: 4,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }

            {% for evento in calendario["events"] %}
                {% if evento["location"]["lat"] != "" %}
                    var mapOptions = {
                        center: new google.maps.LatLng({{ evento["location"]["lat"] }}, {{ evento["location"]["lng"] }}),
                        zoom: 14,
                        mapTypeId: google.maps.MapTypeId.HYBRID
                    }
                    {% break %}
                {% endif %}
            {% endfor %}

            map = new google.maps.Map(document.getElementById("map{{calendario_loop.index}}"), mapOptions);

            for(i = 0; i < eventInfo.length; i++) {

                let contentString = '<div class="info_content">' +
                                    '<a href="' + eventInfo[i]['htmlLink'] + '">' +
                                    '<h5>' + eventInfo[i]['summary'] + '</h5></a>' +
                                    '<p>' + eventInfo[i]['description'] + '</p>'
                                    '</div>';

                let infoWindow = new google.maps.InfoWindow({
                    content: contentString
                });

                let marker = new google.maps.Marker({
                    position: { lat: eventInfo[i]['lat'], lng: eventInfo[i]['lng'] },
                    title: eventInfo[i]['title'],
                    map: map
                });

                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    // fuente
                    // https://programacion.net/articulo/google_maps_con_multiples_marcadores_y_ventana_de_informacion_mediante_la_api_v3_1738

                    return function() {
                        infoWindow.open(map, marker);
                    }
                })(marker, i));

            }

        {% endfor %}
    }

    // google.maps.event.addDomListener(window, 'load', initMap);
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBK8NhJ7xM9D12RFRb-krQpMtc06b4nWE0&callback=myMap"></script>
{% endblock %}


